.service-swiper{
    padding-top: clamp(rem-calc(40), 8vw, rem-calc(80));
    padding-bottom: clamp(rem-calc(40), 8vw, rem-calc(80));

    &__content{

        .swiper{
            min-height: rem-calc(500);
        }
    }

    &__title{
        display:flex;
        gap:rem-calc(10);
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: rem-calc(28);
        text-align: left;
        color: $green;
        margin-bottom: rem-calc(20);

        span{
            height: rem-calc(2);
            width:rem-calc(30);
            background-color: $green;
        }
    }

    &__card{
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        min-height: rem-calc(500);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration: none;


        &:hover{
           .service-swiper__card-image{
            transform: scale(1.1);
           }
        }

        &-overlay{
            position: absolute;
            top:0;
            left:0;
            height: rem-calc(500);
            width: 100%;
            background: rgba(0,0,0,0.37);
            z-index: 1;
        }

        &-content{
            position: relative;
            z-index:1;
            padding-bottom: rem-calc(40);
        }

        &-text{
            padding: rem-calc(0 40);
            color: $white;
            font-weight: normal;
            font-size: rem-calc(16);
            text-decoration: none;
            margin: 0;

            &--title{
                font-size: rem-calc(24);
                font-weight:bold;
            }
        }
        &-image{
            transition: transform 0.5s ease-in-out;
            position: absolute;
            top:0;
            left:0;
            height: rem-calc(500);
            width: 100%;
            object-fit: cover;

        }
    }
}